body {
    background: #2f2f2e;
}

#map {
    display: inline-block;
}

.map-row div {
    float:left;
}

.map-row {
    background-image: url('img/wall-top-left.png'), url('img/wall-top-right.png');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    height: 32px;
}

.tile {
    width: 32px;
    height: 32px;
}

.tile1 {
    background: url('img/tile1.png') no-repeat;
}

.tile2 {
    background: url('img/tile2.png') no-repeat;
}

.tile3 {
    background: url('img/tile3.png') no-repeat;
}

.tile4 {
    background: url('img/tile4.png') no-repeat;
}

.tile5 {
    background: url('img/tile5.png') no-repeat;
}

.tile-ladder {
    background: url('img/tile-ladder.png') no-repeat;
}

.adventurer {
    background: url('img/adventurer-1.png') no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
}

.entrance {
    width: 52px;
    height: 41px;
    background: url('img/entrance.png') black;
    margin: 0 auto;
}

.wall-top {
    height: 41px;
    background-image: url('img/wall-top-left.png'), url('img/wall-top-right.png'), url('img/wall-top.png');
    background-position: left top, right top, left top;
    background-repeat: no-repeat, no-repeat, repeat;
}

.wall-bottom {
    height: 8px;
    background-image: url('img/wall-bottom-left.png'), url('img/wall-bottom-right.png'), url('img/wall-bottom.png');
    background-position: left top, right top, left top;
    background-repeat: no-repeat, no-repeat, repeat;
}
