body {
    background: #2f2f2e;
    overflow: hidden;
}

#header {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#header span {
    font-weight: bold;
}

#map {
    display: inline-block;
    background: black;
}

.map-row div {
    float: left;
}

.map-row {
    background-image: url('img/walls/top-left.png'), url('img/walls/top-right.png');
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    padding-left: 9px;
    padding-right: 9px;
    height: 32px;
}

.tile {
    width: 32px;
    height: 32px;
    opacity: 0.1;
    transition: opacity 0.5s;
}

.tile1 {
    background: url('img/tiles/1.png') no-repeat;
}

.tile2 {
    background: url('img/tiles/2.png') no-repeat;
}

.tile3 {
    background: url('img/tiles/3.png') no-repeat;
}

.tile4 {
    background: url('img/tiles/4.png') no-repeat;
}

.tile5 {
    background: url('img/tiles/5.png') no-repeat;
}

.tile-ladder {
    background: url('img/tiles/ladder.png') no-repeat;
}

@keyframes adventurer {
    from {
        background: url('img/adventurer/standby-left.png') no-repeat;
        background-position: center;
    }
    to {
        background: url('img/adventurer/standby-right.png') no-repeat;
        background-position: center;
    }
}

@keyframes adventurer-move-right {
    0% {
        background: url('img/adventurer/movement/right-1.png') no-repeat;
        background-position: center;
    }
    33% {
        background: url('img/adventurer/movement/right-2.png') no-repeat;
        background-position: center;
    }
    66% {
        background: url('img/adventurer/movement/right-3.png') no-repeat;
        background-position: center;
    }
    100% {
        background: url('img/adventurer/movement/right-4.png') no-repeat;
        background-position: center;
    }
}

@keyframes adventurer-move-left {
    0% {
        background: url('img/adventurer/movement/left-1.png') no-repeat;
        background-position: center;
    }
    33% {
        background: url('img/adventurer/movement/left-2.png') no-repeat;
        background-position: center;
    }
    66% {
        background: url('img/adventurer/movement/left-3.png') no-repeat;
        background-position: center;
    }
    100% {
        background: url('img/adventurer/movement/left-4.png') no-repeat;
        background-position: center;
    }
}

#adventurer {
    background: url('img/adventurer/standby-left.png') no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    animation-name: adventurer;
    animation-duration: 0.8s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    z-index: 10000;
}

.entrance {
    width: 52px;
    height: 41px;
    background: url('img/walls/entrance.png') black;
    margin: 0 auto;
}

.wall-top {
    height: 41px;
    background-image: url('img/walls/top-left.png'), url('img/walls/top-right.png'), url('img/walls/top.png');
    background-position: left top, right top, left top;
    background-repeat: no-repeat, no-repeat, repeat;
}

.wall-bottom {
    height: 8px;
    background-image: url('img/walls/bottom-left.png'), url('img/walls/bottom-right.png'), url('img/walls/bottom.png');
    background-position: left top, right top, left top;
    background-repeat: no-repeat, no-repeat, repeat;
}