body {
    background: #2f2f2e;
    overflow: hidden;
}

#header {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#header span {
    font-weight: bold;
}

#gameLog {
    color: #fd3c3c;
}

.speech-bubble {
    position: absolute;
    background: #ffffff;
    border-radius: .4em;
    padding: 10px;
    z-index: 99999;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}