body {
    background: #2f2f2e;
    overflow: hidden;
}

#header {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#header span {
    font-weight: bold;
}
